<title>Profile Screen</title>

<a href="/staff/main_menu">Return to Main Menu</a>

<div id="staff_data">
<img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile Image" width="150" height="150">
<p>Username: {{ current_user.username }}</p>
<p>Email: {{ current_user.email }}</p>
<p>Staff ID: {{ current_user.staff_id }}</p>
</div>

<h2>Account Settings</h2>
<ul>
    <li><a href="{{ url_for('staff_views.change_username_view') }}">Change Username</a></li>
    <li><a href="{{ url_for('staff_views.change_email_view') }}">Change Email</a></li>
    <li><a href="{{ url_for('staff_views.change_password_view') }}">Change Password</a></li>
</ul>